@model IQueryable<Usuario>

@{
	ViewBag.Subtitulo = "Usuários";
}

<h1 class="text-primary">Usuários</h1>
<hr>
<a href="/Home/Cadastrar" class="btn btn-primary">Novo Usuário</a>

@if (TempData.ContainsKey("Excluiu"))
{
	bool excluiu = (bool)TempData["Excluiu"];
	if(excluiu)
	{
		<partial name="_MensagemInfo" model="@("Usuário excluído com sucesso!!!")"></partial>
	}
	else
	{
		<partial name="_MensagemErro" model="@("Erro na exclusão do usuário.")"></partial>
	}
}

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Nome</td>
                <td>@u.Email</td>
                <td>
                    <a asp-action="Cadastrar" asp-route-id="@u.IdUsuario"
                        class="btn btn-sm btn-secondary">Alterar</a>
                    <a asp-action="Excluir" asp-route-id="@u.IdUsuario"
                        class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>

@section Footer {
	<div class="text-info">Usuários</div>
}

@section Scripts {
	<script src="/lib/bootstrap5/dist/js/bootstrap.js"></script>
}

@section LogoPagina{
	<img src="/img/person.png" height="24" class="d-inline-block align-text-bottom" alt="" srcset="">
}